.sign-in-modal {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .sign-in-modal-content {
        width: 500px;
        min-height: 400px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-around;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: center;
        position: relative;

        .close-btn {
            border-radius: 50%;
            border: none;
            background-color: blueviolet;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: white;
            transition: transform 0.3s ease;
        }
        .close-btn:active {
            transform: rotate(180deg);
        }

        .modal-title {
            text-align: center;
            font-size: 2rem;
            font-weight: 600;
            text-transform: uppercase;
        }

        .modal-form {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .modal-input {
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 20px;
                font-size: 18px;
            }
            .input-error {
                box-shadow: 0 0 10px red;
            }

            .submit-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                padding: 15px 35px;
                background-color: rgb(61, 227, 61);
                border: none;
                color: white;
                font-size: 20px;
                cursor: pointer;
                border-radius: 20px;

                &:hover {
                    background-color: rgb(51, 204, 51);
                }
                &:disabled {
                    background-color: #d6d6d6;
                    color: #a0a0a0;
                    cursor: not-allowed;
                }
            }
        }

        .error {
            color: red;
            font-size: 14px;
            margin-top: 5px;
        }
        .checkbox-container {
            display: flex;
            gap: 10px;
        }
    }
}
@media (max-width: 580px) {
    .sign-in-modal-content {
        width: 90%;
        padding: 20px;
        margin: 0 10%;

        .modal-title {
            font-size: 1.5rem !important;
        }
    }
}
@media (max-width: 468px) {
    .checkbox-container {
        gap: 5px;
        font-size: 16px !important;
    }
}

@media (max-width: 400px) {
    .sign-in-modal-content {
        width: 80%;
        min-height: 300px;
        padding: 15px;
        font-size: 0.9rem;
    }

    .submit-btn {
        width: 80%;
        font-size: 18px !important;
    }
}
