.header {
    background-color: #f8f9fa;
    padding: 20px 0;
    margin-bottom: 80px;

    &__navigation {
        &-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            font-size: 1.5rem;
        }

        &-logo {
            display: flex;
            align-items: center;
            img {
                width: 40px;
                height: auto;
            }

            span {
                font-size: 2rem;
                font-weight: bold;
                margin-left: 10px;
                color: #333;
            }
        }

        &-list {
            ul {
                display: flex;
                align-items: center;
                gap: 40px;
                list-style: none;
                margin: 0;
                padding: 0;
            }

            &-links {
                display: flex;
                align-items: center;

                li {
                    margin-left: 20px;

                    a {
                        text-decoration: none;
                        color: #007bff;
                        font-weight: 600;
                        transition: color 0.3s;

                        &:hover {
                            color: #0056b3;
                        }
                    }
                }
            }
        }
    }
}
img {
    width: 30px;
}
