@import "../../scss/vars";
@import "../../scss/template";
@import "../../scss/mixins";
.footer {
    width: 100%;
    background-color: $bg-nav-color;
    color: $accent-color;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    .content {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        align-items: center;
    }

    .info {
        display: flex;
        gap: 20px;
        font-weight: 500;
    }

    .navigation {
        .links {
            display: flex;
            gap: 20px;
            font-weight: 500;

            .link {
                a {
                    a {
                        @include hover-effect;
                    }
                }
            }
        }
    }
}
