.word-cards {
    margin-bottom: 80px;
    justify-content: center;
    align-items: center;

    .count-words {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        font-size: 1.2rem;
        font-weight: 500;
        color: #333;
    }

    .word-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        perspective: 1000px;

        .card-content {
            width: 500px;
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;
            margin-bottom: 50px;
            background-color: #fff;
            border: 2px solid #a464ac;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
            text-align: center;
            position: relative;
            transform-style: preserve-3d;
            transition: transform 0.6s;
            padding: 20px;
        }

        &.flipped .card-content {
            transform: rotateY(180deg);
        }

        .word {
            font-size: 4rem;
            font-weight: 500;
            color: #333;
            backface-visibility: hidden;
        }

        .transcription {
            font-size: 1.3rem;
            color: #333;
            backface-visibility: hidden;
        }

        .card-back {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 2.5rem;
            font-weight: 500;
            color: #333;
            backface-visibility: hidden;
            transform: rotateY(180deg);
            word-break: break-all;
            padding: 20px;
        }

        .card-buttons {
            display: flex;
            gap: 30px;

            .btn {
                padding: 15px 25px;
                border-radius: 10px;
                border: none;
                font-size: 1.2rem;
                font-weight: 500;
                color: #333;

                &:active {
                    position: relative;
                    top: 1px;
                }

                &:hover {
                    color: white;
                }
                &:disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }

            .back {
                background-color: #bf8afd;
            }

            .remember {
                background-color: rgb(61, 227, 61);
                transition: background-color 0.5s ease, border 0.5s ease,
                    box-shadow 0.5s ease;
            }

            .remember:focus {
                border: 2px solid rgb(53, 168, 33);
                box-shadow: 0 0 10px 5px rgba(31, 202, 48, 0.5);
                background-color: rgb(61, 227, 61);
            }

            .next {
                background-color: #bf8afd;
            }
        }
    }
}
.empty-words {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    font-size: 2rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 80px;
}
