@import "../../scss/mixins";
@import "../../scss/vars";
.home-page {
    position: relative;
    height: 100vh;
    h1 {
        display: flex;
        justify-content: center;
        font-size: 3rem;
        margin-bottom: 60px;
        font-weight: 600;
        color: #bf8afd;
        opacity: 0;
        transform: translateX(-100%);
        animation: slideIn 1.5s ease-out forwards;

        span {
            padding-left: 10px;
            @include logo-style(3rem, $accent-color, rgba(0, 0, 0, 0.3));
        }
    }

    @keyframes slideIn {
        0% {
            opacity: 0;
            transform: translateX(-100%);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    &-wrapper {
        display: flex;
        justify-content: center;
        .items {
            width: 600px;
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 40px;

            .item {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                height: 100px;
                background-color: #bf8afd;
                border-radius: 40px;
                color: white;
                font-size: 2rem;
                font-weight: 500;
                letter-spacing: 1px;
                transition: all 0.3s ease;
                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
                border: 1px solid rgb(6, 160, 255);

                &:hover {
                    background-color: $accent-color;
                    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
                    transform: translateY(-5px);
                }

                &:active {
                    transform: translateY(1px);
                    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
                }

                .quote {
                    font-size: 1rem;
                    display: block;
                    font-style: italic;
                    margin-top: 5px;
                    color: #dcdcdc;
                }
            }
        }
        .main-image {
            position: absolute;
            bottom: 60px;
            right: 20px;
            width: 20vw;
            img {
                width: 100%;
            }
        }
        .cat-image {
            z-index: -10;
            position: absolute;
            top: 100px;
            left: 20px;
            width: 15vw;

            opacity: 0;
            transform: scale(1);
            transition: opacity 3s ease-in, transform 3s ease;

            img {
                width: 100%;
            }

            &.visible {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}

@media (max-width: 990px) {
    .home-page {
        padding: 10px;

        h1 {
            font-size: 2.5rem;
            span {
                font-size: 2.5rem;
            }
        }
        .main-image {
            display: none;
        }
        .cat-image {
            top: 50%;
            left: 50%;
        }
    }
}
@media (max-width: 834px) {
    .home-page {
        h1 {
            font-size: 2rem;
            span {
                font-size: 2rem;
            }
        }
        &-wrapper {
            .items {
                .item {
                    font-size: 1.5rem;
                }
            }
        }
    }
}
@media (max-width: 676px) {
    .home-page {
        h1 {
            font-size: 1.7rem;
            span {
                font-size: 1.7rem;
            }
        }
        &-wrapper {
            .items {
                .item {
                    font-size: 1.5rem;
                }
            }
        }
    }
}
@media (max-width: 581px) {
    .home-page {
        h1 {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 1.5rem;
            span {
                font-size: 1.5rem;
            }
        }
        .cat-image {
            display: none;
        }
        &-wrapper {
            .items {
                .item {
                    font-size: 1.2rem;
                }
            }
        }
    }
}
